/*	General rules & fixes  */
body,html{margin:0;padding:0;font-family: Helvetica, Arial;color:#333;}
p {
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0px;
}
/*	site basic styles  */
h1{
	position:absolute;
	width:100%;
	text-align: center;
	top:20px;
	color:#641150;
}
canvas{
	display: block;
	height:100%;
	width:100%;

}
/*	Ui element box styles  */
.ui{
	background-color: #2190c1;
	position:absolute;
	width:15%;
	top:0;
	right:0;
	border-bottom-left-radius: 10px;
}
.ui .controls{
	overflow-y: hidden;
	max-height: 500px;

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.ui .controls.closed{
	max-height: 0;
}
.ui .controls div{
	padding-left:5px;
	padding-top:10px;
}
.ui .toggleUi{
	background-color: #44B0DF;
	text-align: center;
	padding: 8px 0;
	border-bottom-left-radius: 10px;
}
.ui #slider{
}
.ui p{
	padding-bottom: 5px;
}
/*	jQuery UI slider overrides  */

.ui-widget-content{
	background:#eee;
}
.ui-slider .ui-slider-handle{
	width: 1em;
	height: 0.6em;
	border-radius: 50%;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: #333;
	border:0;
}
.ui-slider-horizontal{
	height: 0em;
}


#debug{
	
	margin:1em 0em;	

}
